<!-- 6. greeting based on time (good mornig, good afternoon, good evening)
7. Create a textarea with maxLength = 100; as the user keeps typing, count and display how many words and how many characters are typed and  also display remaining characters.
8. Create two input boxes and a dropdown (+ , - , * , /) and perform arithmetic operations based on the selected operator.
9. Create a button that increases font size and another button that decreases font size for a paragraph.
10. Create a dropdown with colors and change the background color of a div based on selection -->
<div class="container-fluid" >
       Welcome and have a {{greeting()}}
</div>