/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';
/* body{   
    text-align: center;
    border: 3px;
    border-collapse: collapse;
    border-color: blue; 
    border-style: solid;
} */
